.content {
  width: 600px;
  height: auto;
  border-right: 2px solid #fff;
  border-left: 2px solid #fff;
  margin: 1rem 300px;
}



.posts{
    width: 98%;
    height: 90%;
    scroll-behavior: smooth;
    margin: auto;
}

.content h2 {
    display: block;
    width: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}
